.hamburger {
  position: fixed;
  top: 20px;
  left: 20px;
  height: 30px;
  width: 30px;
  padding: 10px;
  transition: ease-in-out 250ms;
  z-index: 1;
  
  .line {
    position: relative;
    top: 2.5px;
    margin-top: 5px;
    display: block;
    width: 100%;
    height: 5px;
    background-color: black;
    z-index: 0;
  }

  .line:first-of-type {
    margin-top: 0;
  }

  .hamburger__top, .hamburger__bot {
    transform-origin: 50%;
    transition: ease-out 250ms;
  }

  .hamburger__mid {
    transition: ease-in-out 250ms;
  }

  .hamburger__top--animation {
    transform: translateY(10px) rotate(-45deg);
  }
  
  .hamburger__mid--animation {
    width: 0;
  }

  .hamburger__bot--animation {
    transform: translateY(-10px) rotate(45deg);
  }

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 1px rgba(0,0,0,0.2), 2px 2px rgba(150,150,150,0.5);
  }


}

@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {

  .hamburger {
    position: fixed;
    top: 1vw;
    left: 85vw;
    // left: unset;
    // top: 10px;
    // right: 10px;
  }
}